#btnl{
    padding: 10px;
    border-radius: 30px;
    background-color: lime;
}

#btnr{
    padding: 10px;
    border-radius: 30px;
    background-color: lime;
}

img{
    width: 650px;
    height: 700px;

}

.wrapper{
    margin-left: 100px; 
}   